<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ROAM</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/lessons.css">
  <!-- bootstrap 3.0.3 JS, JQuery and its dependencies -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- <script src='https://www.google.com/recaptcha/api.js'></script> -->
  <!-- <script src="https://www.google.com/recaptcha/api.js" async defer></script> -->
  <!--custom JS -->
  <!--<script src='main.js'></script>-->
</head>

<body>

  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- <a class="navbar-brand" href="/">
          <p>
            <span class="glyphicon">&#xe021;</span>
        </a> -->
        <a href="/"><img src="../images/roam_mini.png" style="width: 100px; height: 100px;"/>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li id="web-app"><a href="/topics">roamHangout</a></li>


          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Programs<span
                class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/school.html">Rock School</a></li>
              <li><a href="/lessons.html">Private Lessons</a></li>
              <!--ejs -->
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Community<span
                class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Friends of Roam Foundation</a></li>
              <li><a href="http://www.visitdelray.com" target="_blank" rel="noopener noreferrer">Del Ray</a></li>
              <li><a href="https://www.birchmere.com" target="_blank" rel="noopener noreferrer">The Birchmere</a></li>
              <li><a href="https://www.unionstage.com/" target="_blank" rel="noopener noreferrer">
                Union Stage</a></li>
              <li><a href="http://www.artontheavenue.org/" target="_blank" rel="noopener noreferrer">Art on the Avenue</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Social
              Media<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="socialmediaicons"><a href="https://www.youtube.com/watch?v=0gh_dgK60KE" class="fa fa-youtube socialmediaicons fa-youtube"
                  target="_blank" rel="noopener noreferrer"></a></li>
              <li class="socialmediaicons"><a href="https://www.facebook.com/ROAMusicCo/" class="fa fa-facebook socialmediaicons fa-facebook"
                  target="_blank" rel="noopener noreferrer"></a></li>
              <li class="socialmediaicons"><a href="https://twitter.com/ROAMava" class="fa fa-twitter socialmediaicons fa-twitter"
                  target="_blank" rel="noopener noreferrer"></a></li>
              <li class="socialmediaicons"><a href="https://www.instagram.com/rockofagesmusic/" class="fa fa-instagram socialmediaicons fa-instagram"
                  target="_blank" rel="noopener noreferrer"></a></li>
            </ul>
          </li>

        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
      <p class="lead text-center">Rock of Ages Music</p>
      <p class="lead text-center">114 E. Del Ray Ave</p>
      <p class="lead text-center">Alexandria, VA 22301</p>
      <p class="lead text-center">703 838-2130</p>

      <form action="/contact/send" method="post" id="form">
        <div class="messages"> </div>
        <div class="controls">
          <div class="form-group">
            <label class="" for="form_name">name</label>
            <input type="text" class="form-control" id="form_name" name="name" placeholder="your name" required="required"
              data-error="Your Name is Required">
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label class="" for="form_phone">phone</label>
            <input type="tel" class="form-control" id="form_phone" name="phone" placeholder="your phone number"
              required="required" data-error="Your Phone Number is Required">
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label class="" for="form_email">email</label>
            <input type="email" class="form-control" id="form_email" name="email" placeholder="your email address"
              required="required" data-error="Your Email is Required">
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label class="" for="form_message">message</label>
            <textarea class="form-control" id="form_message" name="message" placeholder="e.g., I would like to reserve piano lessons on Tuesdays or Thursdays between the hours of 4-6 PM with (teacher) and sign myself (and,or) my child up for Rock School."
              rows="4" required="required" data-error="Please, leave us a message."></textarea>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <!-- Insert the code for the reCaptcha check box here-->
            
          </div>
          <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">send email</button>
          </div>
      </form>
    </div>
  </div>
  </div>
</body>

</html>